.carousel-item img {
    margin: 0 auto;
    width: auto;
    opacity: 0.5;
    max-height: calc(100vh - 178px);
    min-height: calc(100vh - 178px);
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.middle-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    padding: 9px 8px;
    width: 150px;
    margin-bottom: 35px;
}

@media (max-width: 930px) {
    .carousel-item img {
        max-height: calc(100vh - 66px);
        min-height: calc(100vh - 66px);
    }
}